# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mplconfig/

# Local Data Lakehouse (Keep data out of git)
data/
outputs/case_studies/*.png

# Environment Variables & Keys
.env
*.json
!outputs/metrics_summary.json
!gcp_key.example.json

# OS files
.DS_Store
